*{
    font-family: "Montserrat", sans-serif;
}

body{
    background: linear-gradient(to bottom, black, white);
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFF;
}

.imagen{
    display: flex;
    justify-content: center;
}

.imagen img{
    border-radius: 360px;
}

.datos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.personales, .gustos, .sobremi {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.contactame {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactame h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    color: #333;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
}

.formulario textarea {
    height: 150px;
    resize: vertical;
}

.formulario input[type="submit"] {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formulario input[type="submit"]:hover {
    background-color: #005bb5;
}